Package: co.kr.blackfalcon.helloworld
Name: HelloWorld
Depends: mobilesubstrate
Version: 0.0.1-1
Architecture: iphoneos-arm
Description: A simple HelloWorld tweak
Maintainer: Your Name <your.email@example.com>
Author: Your Name <your.email@example.com>
Section: Tweaks

