Package: co.kr.blackfalcon.helloworld
Name: HelloWorld
Depends: mobilesubstrate
Version: 0.0.1-1
Architecture: iphoneos-arm
Description: A simple HelloWorld tweak
Maintainer: SpeeDr00t <speedroot@blackfalcon.co.kr>
Author: SpeeDr00t <speedroot@blackfalcon.co.kr>
Section: Tweaks

